body {
  background-color: bisque;
  padding: 0rem 2rem 1rem 2rem;
}

h1 {
  font-family: cursive;
  font-weight: bold;
  font-size: 3rem;
}

#canvas1 {
  background-color: ivory;
  border: 2px solid gray;
  width: 400px;
}

input {
  font-size: 1.2rem;
}